 <div class="service-card">
      <div class="service-card-info">
        <img
          mat-card-image
          src="https://images.fresha.com/locations/location-profile-images/19810/441332/df83c909-e9b8-48de-831e-5289f2c744f3.jpg?class=thumb"
          alt="downloadimage"
        />
        <div class="card-design">
          <h5>Sajna Hair & Beauty Tooting : </h5>
          <p>234A Upper Tooting Road, London (Tooting), England</p>
        </div>
        <hr />
        <div class="product-info" *ngFor="let product of products">
          <!-- <p>No services selected yet</p> -->
          <div class="product-title">
            <p>{{product.name}}</p>
          </div>
          <div class="product-price">
            <p>₤ {{product.amount}}</p>
          </div>
        </div>
        <hr />
        <div class="card-total-ammount">
          <h4>Total</h4>
          <h4>Free</h4>
        </div>
      </div>
    </div>