<mat-toolbar style="background-color: #101928; height: 135px">
  <mat-toolbar-row>
    <span>Selec Services </span>
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >clear</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<ng-container class="select-service">
  <div class="select-service-grid">
    <div class="service-product">
      <div class="service-nav">
        <div class="tab">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Featured"> </mat-tab>
            <mat-tab label="Hair Colouring"></mat-tab>
            <mat-tab label="Hair Colouring Package"> </mat-tab>
            <!-- <mat-tab label="Third">Hair Colouring Package </mat-tab>
  <mat-tab label="Third">Hair Blowdry </mat-tab>
  <mat-tab label="Third">Hair Treatments</mat-tab>
  <mat-tab label="Third">Hair - Gents</mat-tab>
  <mat-tab label="Third">Body Waxing - Ladies</mat-tab>
  <mat-tab label="Third">Facials</mat-tab> -->
          </mat-tab-group>
        </div>
      </div>

      <div class="product-future">
        <mat-accordion *ngFor="let product of products">
          <mat-expansion-panel hideToggle>




            <mat-expansion-panel-header collapsedHeight="100px" >
              <mat-panel-title>
                <mat-icon
                  class="product-future-icon"
                  style="
                    width: 28px;
                    height: 28px;
                    border-radius: 100%;
                    padding: 1px;
                    border: 1px solid #bfb1b1;
                    text-align: center;
                  "
                  >more_horiz</mat-icon
                >
              </mat-panel-title>
              <mat-panel-description>
                <div class="product-name">
                  <h4>{{product.name}}</h4>
                  <p>{{product.time}} min</p>
                </div>
              </mat-panel-description>

              <div class="curren-symble">
                <h4>from</h4>
                <p>£ {{product.amount}}</p>
              </div>
            </mat-expansion-panel-header>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason"
            >
            
              <mat-radio-button mat-icon
                class="example-radio-button"
               
             (click)="addToCart(product)" >
                {{ product.name }}
              </mat-radio-button>
              <!-- <mat-icon aria-hidden="false" aria-label="Example check icon" *ngFor="let season of seasons" value={season}>check_circle_outline</mat-icon> -->
            </mat-radio-group>
            
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
   
    <app-cart></app-cart>
  </div>
</ng-container>
