.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: 70%;
  margin: 30px auto 0px auto;
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-overflow: ellipsis;
}

.select-service {
  background-color: #f2f2f7;
}
.select-service-grid {
  width: 70%;
  margin: 30px auto 0px auto;
  display: grid;
  grid-template-columns: 5fr 4fr;
}
.service-product {
  margin: -68px 19px;
}
.service-nav {
  background: rgb(254, 253, 253);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-future.product-future-icon {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  padding: 1px;
  border: 1px solid #bfb1b1;
  text-align: center;
}

.product-name {
  margin-left: -129px;
}
.product-name h4 {
  color: rgb(16, 25, 40);
  font-size: 17px;
  font-weight: 700;
  line-height: 0px;
  margin-top: 16px;
}

.curren-symble {
  font-size: 17px;
  font-weight: 700;
  color: rgb(16, 25, 40);
  margin-top: 16px;
}
